body{
    background-color: black;
}

.italicize{
    color: white;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;

}
div{
    width: 50%;
    margin-left: 25%;
}
img{
    border: 5px solid white;
    width: 100%;
}
h1{
    text-transform: uppercase;
   
}